#whatsnew {
  height: 100%;
  width: 100%;
}
#whatsnew-slider.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
#whatsnew-slider.swipe .swipe-wrap {
  background-color: #1076c8;
  overflow: hidden;
  position: relative;
}
#whatsnew-slider.swipe .swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
} 
/* #whatsnew-slider.swipe .image{
  border: 0px;
  width: 100%;
  height: 100%;
} */
#whatsnew-slider.swipe .image-area0{
  background: #fff;
}
#whatsnew-slider.swipe .image-area1{
  background: #fff;
}
#whatsnew-slider.swipe .image-area2{
  background: #fff;
}
#whatsnew-slider.swipe .image-area3{
  background: #fff;
}
#whatsnew-slider.swipe .image-area4{
  background: #fff;
}
#whatsnew-slider.swipe .image0{
  background-image: url("../whatsnew/img/propaganda0.ing");
  background-size:100% 100%;
  background-position:50% 100%;
  background-repeat:no-repeat;
  border: 0px;
  width: 100%;
  height: 100%;
}
#whatsnew-slider.swipe .image1{
  background-image: url("../whatsnew/img/propaganda1.ing");
  background-size:100% 100%;
  background-position:50% 100%;
  background-repeat:no-repeat;
  border: 0px;
  width: 100%;
  height: 100%;
}
#whatsnew-slider.swipe .image2{
  background-image: url("../whatsnew/img/propaganda2.ing");
  background-size:100% 100%;
  background-position:50% 100%;
  background-repeat:no-repeat;
  border: 0px;
  width: 100%;
  height: 100%;
}
#whatsnew-slider.swipe .image3{
  background-image: url("../whatsnew/img/propaganda3.ing");
  background-size:100% 100%;
  background-position:50% 100%;
  background-repeat:no-repeat;
  border: 0px;
  width: 100%;
  height: 100%;
}
#whatsnew-slider.swipe .image4{
  background-image: url("../whatsnew/img/propaganda4.ing");
  background-size:100% 100%;
  background-position:50% 100%;
  background-repeat:no-repeat;
  border: 0px;
  width: 100%;
  height: 100%;
}
#whatsnew-function-icon {
  position: fixed;
  width: 100%;
  bottom: 6%;
  padding: 0px 6%;
}
#whatsnew-function-icon .login-button {
  height: 44px;
  line-height: 44px;
  text-align: center;
  width: 30%;
  background-color: #74c443;
  color: #fff;
  border-radius: 3px;
}
#whatsnew-function-icon .registe-button {
  height: 44px;
  line-height: 44px;
  text-align: center;
  width: 55%;
  background-color: #fff;
  color: #595959;
  border-radius: 3px;
  position: absolute;
  top: 0px;
  right: 6%;
}