
#main-footer .footerContent {
	background-color: #0b0e10;
	box-shadow: none;
	width: 100%;
	height:49px;
/*
	padding-left: 10px;
	padding-right: 10px;*/
	text-align: center;

	position: absolute;
	bottom: 0px;
	    z-index: 10;
	    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}
#main-footer .footerContent:before{
	top: -1px;
	content: "";
    display: block;
    position: absolute;
    left: -50%;
    width: 200%;
    height: 1px;
    background: #3c4356;
    opacity:0.9;
    -webkit-transform:scale(0.5);
}
/*@media (max-height: 666px){*/
	/*#main-footer .footerContent{*/
		/*height: 51px;*/
	/*}*/
/*}*/
/*@media (min-height: 667px){*/
	/*#main-footer .footerContent{*/
		/*height: 56px;*/
	/*}*/
	/*#main-footer .tab-item{*/
		/*margin-top: 3px;*/
	/*}*/
/*}*/

#main-footer .left-part-item
{
	float : left;
}

#main-footer .right-part-item
{
	float : right;
}

#main-footer .footerContent .tab-item {
	display: inline-block;
    width: 20%;
    color: #929292;
    text-align: center;
    vertical-align: middle;
	padding-top: 8px;
}

#main-footer .tab-home
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	background-image: url('../shared/img/home_off.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 51px;
	height: 46px;
	background-color:#203656;
}



#main-footer .footerName{
	color: rgba(250, 251, 250, 0.77);
	font-size: 9px;
}

#main-page .page
{
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 46px;
}
	#main-footer .footerContent .tab-item > div
	{
		font-size: 11px;
	}

	#main-footer .icon-imhome {
		background: url("../shared/img/control_on.png");
        background-size:  28px 28px;
		background-repeat: no-repeat;
		background-position: 50% -3px;
        height: 22px;
        margin-bottom: 4px;
	}
	#main-footer .icon-driving {
		background: url("../shared/img/driving_on.svg");
        background-size:  28px 28px;
		background-repeat: no-repeat;
		background-position: 50% -3px;
        height: 22px;
        margin-bottom: 4px;
	}
	#main-footer .icon-f-driving {
		background: url("../shared/img/driving_on.png");
        background-size:  28px 28px;
		background-repeat: no-repeat;
		background-position: 50% -3px;
        height: 22px;
        margin-bottom: 4px;
	}
	#main-footer .icon-homes{
		background: url("../shared/img/home_on.svg");
		background-size:  28px 28px;
		background-repeat: no-repeat;
		background-position: 50% -3px;
        height: 22px;
        margin-bottom: 4px;
	}
	#main-footer .icon-message {
		background: url("../shared/img/carFriend.png");
		background-size:  24px 24px;
		background-repeat: no-repeat;
		background-position: 50% -1px;
        height: 22px;
        margin-bottom: 4px;
	}
	#main-footer .icon-carfriend {
		background: url("../shared/img/carLife.png");
		background-size:  24px 24px;
		background-repeat: no-repeat;
		background-position: 50% -1px;
        height: 22px;
        margin-bottom: 4px;
	}
	#main-footer .icon-sales {
		background-image: url("../shared/img/navi_on.png");
		background-size:  28px 28px;
		background-repeat: no-repeat;
		background-position: 50% -3px;
        height: 22px;
        margin-bottom: 4px;
	}
	#main-footer .icon-test {
		background-image: url("../shared/img/test_on.png");
		background-size:  28px 28px;
		background-repeat: no-repeat;
		background-position: 50% -3px;
        height: 22px;
        margin-bottom: 4px;
	}
	#main-footer .icon-myself {
		background: url("../shared/img/myself_on.svg");
		background-size:  28px 28px;
		background-repeat: no-repeat;
		background-position: 50% -3px;
        height: 22px;
        margin-bottom: 4px;
	}


 #main-footer .ui-shouye .footerActive
{
	background-image: url("../shared/img/home_off.svg")!important;
}
#main-footer .ui-home .footerActive{
		background-image: url("../shared/img/control_off.png")!important;
}
#main-footer .ui-test .footerActive{
		background-image: url("../shared/img/test_off.png")!important;
}
#main-footer .ui-driving .footerActive{
		background-image: url("../shared/img/driving_off.svg")!important;
}
#main-footer .ui-f-driving .footerActive{
		background-image: url("../shared/img/driving_off.svg")!important;
}
#main-footer .ui-message .footerActive{
		background-image: url("../shared/img/carFriend1.png")!important;
}
#main-footer .ui-carfriend .footerActive{
		background-image: url("../shared/img/carLife1.png")!important;
}
#main-footer .ui-sales .footerActive{
		background-image: url("../shared/img/navi_off.png")!important;
}
#main-footer .ui-myself .footerActive{
		background-image: url("../shared/img/myself_off.svg")!important;
}

#main-footer .ui-message .footerWarning{
		background-image: url("../shared/img/message_warning.png")!important;
}

#main-footer .footerContent .footerNameActive{
	color:#01c3fc !important;
}
.img-light{
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 42px;
    left: 25%;
}
.img-light img{
    width: 100%;
}
